
.login-container {
    border: 5px solid #efefef;
    border-radius: 15px;
    
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 500px;
    min-width: 500px;
}

.l-login {
    width: 50%;
    height: 100%;
}
.wrapper-l {
    width: 100%;
    height: 100%;
}
.wrapper-l > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.r-login {
    width: 50%;
    height: 100%;
    position: relative;
}
.register-link {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    color: var(--fontColorMain);
    font-size: var(--fontVeryTinSmall);
}
.register-link > a {
    font-size: var(--fontVeryTinSmall);
}
.r-login > h2 {
    color: var(--fontColorMain);
    margin-top: 15%;
    font-size: 2rem;
}
.subtitle {
    font-size: var(--fontVerySmall);
    color: var(--fontColorMain);
}
.wrapper-r {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#form-login{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--fontColorMain);
    
    
}
#form-login > input[type='text'],
#form-login > input[type='password'] {
    margin-bottom: 15px;
    width: 100%;
    background-color: var(--secondaryColor);
    height: 40px;
    padding-left: 5%;
    border-radius: 5px;
    
    border: transparent;
    font-size: .9rem;
    outline: none;
   
}
#form-login > input[type='text'] {
    position: relative;
    margin-top: 30px;
}
#hr-login {
    content: ' ';
    background-color: red;
    width: 10%;
    height: 10%;
}
.form-login-footer > input[type='submit'] {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #e55b5b;
    border-radius: 5px;
    color: #fff;
    border: transparent;
    transition: background-color 150ms ease-in-out;
}
.form-login-footer > input[type='submit']:hover {
    cursor: pointer;
    background-color: #ba4646;
}
.nightMode {
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.nightMode > button {
    border-radius: 100%;
    border: transparent;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColorMain);
    background-color: transparent;
}
.nightMode > button:hover {
    cursor: pointer;
    filter: brightness(80%);
}
@keyframes spinn {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes spinn2 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}
@media screen and (max-width:480px) {
    .l-login {
        display: none;
    }
    .r-login {
        width: 100%;
    }
    .login-container {
        min-width: 300px;
    }
    .register-link {
        font-size: var(--fontVerySmall);
    }
    .register-link > a {
        font-size: var(--fontVerySmall);
    }
}
@media screen and (orientation: landscape) and (max-height:480px) {
    html {
       /* Rotate the content container */
       transform: rotate(-90deg);
       transform-origin: left top;
       /* Set content width to viewport height */
       width: 100vh;
       /* Set content height to viewport width */
       height: 100vw;
       overflow-x: hidden;
       position: absolute;
       top: 100%;
       left: 0;
    }
    .l-login {
        display: none;
    }
    .r-login {
        width: 100%;
    }
    .login-container {
        min-width: 300px;
    }
    .register-link {
        font-size: var(--fontVerySmall);
    }
    .register-link > a {
        font-size: var(--fontVerySmall);
    }
}